name: devops-01-backend

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Docker/backend.dockerfile
          push: true
          tags: mohitprasad004/backend:${{ github.sha }}
          build-args: |
            DATABASE_URL=${{ secrets.DATABASE_URL }}

      - name: Deploy to server via SSH
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" &> ~/ssh_key
          chmod 600 ~/ssh_key

          mkdir -p ~/.ssh
          echo "${{ secrets.KNOWN_HOSTS }}" &> ~/.ssh/known_hosts

          ssh -i ~/ssh_key ubuntu@${{ secrets.SERVER_HOST }} -o StrictHostKeyChecking=no << 'EOF'
            docker rm -f user_backend || true
            docker pull mohitprasad004/backend:${{ github.sha }}
            docker run --name user_backend -d -p 3002:3002 \
              -e DATABASE_URL="${{ secrets.DATABASE_URL }}" \
              mohitprasad004/backend:${{ github.sha }}
          EOF
